simple-server-app/FormsFrameworkClientApp/Connected Services/ServiceRef/ServerClass.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" name="ServerClass" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8080/MyLocalServer?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8080/MyLocalServer?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="InterfaceServer_sendsToServer_InputMessage">
    <wsdl:part name="parameters" element="tns:sendsToServer" />
  </wsdl:message>
  <wsdl:message name="InterfaceServer_sendsToServer_OutputMessage">
    <wsdl:part name="parameters" element="tns:sendsToServerResponse" />
  </wsdl:message>
  <wsdl:message name="InterfaceServer_getServerString_InputMessage">
    <wsdl:part name="parameters" element="tns:getServerString" />
  </wsdl:message>
  <wsdl:message name="InterfaceServer_getServerString_OutputMessage">
    <wsdl:part name="parameters" element="tns:getServerStringResponse" />
  </wsdl:message>
  <wsdl:portType name="InterfaceServer">
    <wsdl:operation name="sendsToServer">
      <wsdl:input wsam:Action="http://tempuri.org/InterfaceServer/sendsToServer" message="tns:InterfaceServer_sendsToServer_InputMessage" />
      <wsdl:output wsam:Action="http://tempuri.org/InterfaceServer/sendsToServerResponse" message="tns:InterfaceServer_sendsToServer_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getServerString">
      <wsdl:input wsam:Action="http://tempuri.org/InterfaceServer/getServerString" message="tns:InterfaceServer_getServerString_InputMessage" />
      <wsdl:output wsam:Action="http://tempuri.org/InterfaceServer/getServerStringResponse" message="tns:InterfaceServer_getServerString_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_InterfaceServer" type="tns:InterfaceServer">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="sendsToServer">
      <soap:operation soapAction="http://tempuri.org/InterfaceServer/sendsToServer" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getServerString">
      <soap:operation soapAction="http://tempuri.org/InterfaceServer/getServerString" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServerClass">
    <wsdl:port name="BasicHttpBinding_InterfaceServer" binding="tns:BasicHttpBinding_InterfaceServer">
      <soap:address location="http://localhost:8080/MyLocalServer" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>